<div class="ui-g">
  <div class="ui-g-12">
    <div class="card overview">
      <div class="ui-g">
        <div class="ui-g-12">
          <div class="ui-g-4 ui-lg-2 ui-sm-12">
            <div class="img-panel">
              <img src="assets/layout/images/deffBookImg.png" width="100%" alt="">
            </div>
          </div>
          <div class="ui-g-8 ui-lg-10 ui-sm-12">
            <h1>{{ author.FIO }}</h1>
            <div [innerHtml]="author.description"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
