<div class="ui-g">
  <div class="ui-g-12">
    <div class="card overview">
      <div class="ui-g">
        <div class="ui-g-12 ui-sm-12">
          <span class="ui-float-label">
            <input id="float-input" type="text" size="30" style="width: 100%;" [(ngModel)]="genre.name" required minlength="1" pInputText>
            <label for="float-input">Название жанра</label>
          </span>
        </div>
        <div class="ui-g-12">
          <p-editor [style]="{'height':'320px'}" [(ngModel)]="genre.description"></p-editor>
        </div>
        <div class="ui-g-12">
          <button pButton type="button" id="addButton" label="Добавить" class="teal-btn main-button" (click)="addGenre()"></button>
          <button pButton type="button" id="saveButton" label="Сохранить изменения"  class="teal-btn main-button" (click)="updateGenre()"></button>
        </div>
      </div>
    </div>
  </div>
</div>
<p-growl [(value)]="msgs"></p-growl>
