@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,500i,600,600i,700,700i&subset=cyrillic');

* {
  margin: 0;
  padding: 0;
  font-family: 'Cormorant Garamond', serif;
}

.conteiner {
  background: linear-gradient(
    rgba(255,255,255, 0) .9em, rgba(0, 0, 0, .15) 1em)
  0 0,
  linear-gradient(90deg,
    rgba(255,255,255, 0) .9em, rgba(0, 0, 0, .15) 1em)
  0 0;
  background-size: 1em 1em;
  background-color: ivory;
  font: italic 16px/2 'Trebuchet MS', Verdana, sans-serif;

  left: 0;
  top: 0;
  position: fixed;
  z-index: 100;
  height: 100%;
  width: 100vw;
  /*background-color: white;*/
  /*background-image: url("http://fullhdwallpapers.ru/image/nature/4051/magicheskie-gory.jpg");*/
  /*//background-size: cover;*/
}

.sing-up-panel {
  background-color: rgba(255, 255, 255, 0.52);
  box-shadow: 0 0 7px 1px black;
  height: fit-content;
  width: fit-content;
  max-height: 12em;
  padding: 40px 0 20px 65px;
  position: fixed;
  z-index: 99;
  top: -180px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  font-size: larger;
}

.ui-float-label {
  margin: 0 65px 40px 0;
}

.ui-float-label:last-of-type {
  margin: 0 0 20px 0;
}

.ui-float-label input {
  padding: 8px;
}

.sing-up-panel .ui-button.ui-button-secondary {
  float: right;
  background-color: #00000063;
  border-color: #ccc;
  color: #ffffff;
  margin-right: 40px;
}

.sing-up-panel .ui-button.ui-button-secondary:hover {
  box-shadow: 0 0 9px 1px white;
}

.sing-up-panel .ui-button.ui-button-secondary:active {
  background-color: #ffffff63;
  color: #000000;
}

.ui-float-label>label {
  color: black;
}

.sing-up-panel .ui-float-label>input:focus ~ label {
  top: -1.25em;
  left: -.75em;
  font-size: 20px;
  color: white;
  background-color: #0000006e;
  padding: 5px;
  border-radius: 6px;
  transition: 0.55s;
}

.sing-up-panel .ui-float-label>input.ui-state-filled ~ label {
  top: -1.25em;
  left: -.75em;
  font-size: 20px;
  color: white;
  padding: 5px;
  transition: 200ms;
}
