<div class="ui-g">
  <div class="ui-g-12">
    <div class="card overview">
      <div class="ui-g">
        <div class="ui-g-3">
          <img src={{getBookSrc(book.pictureId)}} alt="" style="height: auto; width: 100%;">
          <div *ngIf="isEdit" style="text-align: center;">
            <p-fileUpload mode="basic"
                          name="demo"
                          url={{url}}
                          (onSelect)="onSelect($event)"
                          accept="image/*"
                          style="width: 100%;"
                          chooseLabel="Выберите обложку"
                          maxFileSize="1000000"></p-fileUpload>
          </div>
        </div>
        <div class="ui-g-9 form-group">
          <div class="ui-g-12" style="margin-bottom: 1em">
          <span class="ui-float-label">
            <input id="float-input" type="text" size="30" style="width: 100%;" [(ngModel)]="book.name" required minlength="1" pInputText>
            <label for="float-input">Название книги</label>
          </span>
          </div>
          <div class="ui-g-12" style="margin-bottom: 1em">
            <p-dropdown [options]="authors" [(ngModel)]="book.author" optionLabel="FIO" filter="true" [style]="{'width': '100%'}" placeholder="Автор"></p-dropdown>
          </div>
          <div class="ui-g-12" style="margin-bottom: 1em">
            <p-dropdown [options]="genres" optionLabel="name" [(ngModel)]="book.genre" filter="true" [style]="{'width': '100%'}" placeholder="Жанр"></p-dropdown>
          </div>
          <div class="ui-g-12" style="margin-bottom: 1em">
            <p-calendar id="showIcon" [showIcon]="true" placeholder="Дата релиза" [yearNavigator]="true" yearRange="2000:2018" [(ngModel)]="book.releaseDate" dateFormat="mm.yy" [locale]="ru"></p-calendar>
          </div>
        </div>
        <div class="ui-g-12">
          <p-editor [style]="{'height':'320px'}" [(ngModel)]="book.description"></p-editor>
        </div>
        <div class="ui-g-12">
          <button pButton type="button" id="addButton" label="Добавить" class="teal-btn main-button" (click)="addBook()"></button>
          <button pButton type="button" id="saveButton" label="Сохранить изменения"  class="teal-btn main-button" (click)="updateBook()"></button>
        </div>
      </div>
    </div>
  </div>
</div>

<p-growl [(value)]="msgs"></p-growl>
