.steps .step {
  min-height: 4em;
  background-color: transparent;
  border: .1em solid #adadad;
  cursor: pointer;
}

.steps .step.active{
  background-color: #0e2031;
  border: .1em solid transparent;
  color: #ffffff;
}

.steps .step .ui-steps-number {
  width: 100%;
  text-align: center;
  font-size: 200%;
  display: block;
  margin: .4em 0;
}
.steps .step .ui-steps-title {
  width: 100%;
  text-align: center;
  height: 30%;
  white-space: nowrap;
  display: block;
  margin-bottom: .4em;
}

