<p-carousel *ngIf="this.extradition.books" headerText="Книги к выдаче" [value]="extradition.books">
  <ng-template let-book pTemplate="item">
    <div class="ui-grid ui-grid-responsive">
      <div class="ui-grid-row">
        <div class="ui-grid-col-6" style="text-align: center;"><img src="assets/layout/images/deffBookImg.png"
                                                                    width="100"></div>
        <div class="ui-grid-col-6">
          <div class="ui-grid-row">
            <div class="ui-g-12">Название: {{book.name}}</div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-g-12">Жанр: {{book.genre.name}}</div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-g-12">Автор: {{book.author.name}}</div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>
<div class="ui-g-12" *ngIf="this.extradition.user">
  <div class="ui-g-12">
    <div class="ui-g-12 ui-lg-4">
      <div class="img-panel">
        <img src="../../../../assets/layout/images/user-bg.png" width="100%" alt="">
      </div>
    </div>
    <div class="ui-g-12 ui-lg-4">
      <h1> Логин: {{extradition.user.login}} </h1>
      <h1> Фамилия: {{extradition.user.surname}}</h1>
      <h1> Имя: {{extradition.user.name}}</h1>
      <h1> Отчество: {{extradition.user.patronymic ? extradition.user.patronymic : '-'}}</h1>
    </div>
    <!--    <div class="ui-g-4">
          <h1>Status</h1>
        </div>-->
  </div>
</div>
<div class="ui-g-12">
  <p-selectButton [options]="typesOfIssues" [(ngModel)]="extradition.typeOfIssue" optionLabel="name"></p-selectButton>
</div>
<div class="ui-g-12">
  <button pButton type="button" label="Выдать" class="issues" (click)="issue()"></button>
</div>
<p-dialog header="Доступные книги для выдачи" [(visible)]="showDialog" [modal]="true" width="100%">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Доступно {{inStock.length}} из {{extradition.books.length}}</h1>
    </div>
    <div class="ui-g-12">
      <p-table [columns]="cols"
               [value]="inStock"
               dataKey="id"
               [responsive]="true">
        <ng-template pTemplate="caption">
          Все книги в БД
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
              <ng-container *ngIf="col.field == 'book'">
                {{rowData[col.field].name}}
              </ng-container>
              <ng-container *ngIf="col.field != 'book'">
                {{rowData[col.field]}}
              </ng-container>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <p-footer>
    <button type="button" pButton icon="fa-check" (click)="showDialog=false" label="Yes"></button>
    <button type="button" pButton icon="fa-close" (click)="showDialog=false" label="No"></button>
  </p-footer>
</p-dialog>

<p-growl [value]="msgs"></p-growl>

