<div class="ui-g">
  <div class="ui-g-12">
    <div class="card overview">
      <div class="ui-g">
        <div class="ui-g-12">
          <div class="ui-g-12 ui-md-4">
            <img src={{getBookSrc(book.pictureId)}} alt="" style="height: auto; width: 100%;">
            <div class="ui-g-12" *ngIf="currentUser">
              <button pButton type="button" label="Зарезервировать" style="width: 100%;" [disabled]="isDisable()" (click)="reselv()"></button>
            </div>
          </div>
          <div class="ui-g-12 ui-md-8">
            <h1>{{ book.name }}</h1>
            <h4>
              автор <a [routerLink]="['/author/' + book.author.id]">
              {{ book.author.surname }}
            </a>
            </h4>
            <p-rating [(ngModel)]="raiting" [cancel]="false"></p-rating>
            <div [innerHtml]="book.description"></div>
          </div>
        </div>
        <div class="ui-g-12">
          <div class="card-w-title">
            <h4>Оставить комментарий</h4>
            <div class="ui-g-12">
              Ваша оценка
              <p-rating [(ngModel)]="review.rating" [cancel]="false"></p-rating>
              <p-editor [(ngModel)]="review.reviews" [style]="{'height':'320px'}"></p-editor>
              <button pButton type="button" class="teal-btn" (click)="addReview()" label="Отправить"
                      style="float: right; margin-top: 1em;"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card card-w-title">
      <div class="ui-g">
        <h3>Коментарии</h3>
        <div class="ui-g-12">
          <p-dataList [value]="reviews"
                      [paginator]="true"
                      [rows]="5"
                      [totalRecords]="totalRewiews"
                      [lazy]="true"
                      emptyMessage="Для данной книги отсутствуют комментарии"
                      (onLazyLoad)="lazyLoad($event)"
                      styleClass="clear-border light-footer-paginator ">
            <ng-template let-comment pTemplate="item">
              <div class="ui-g ui-fluid car-item comment-block">
                <div class="ui-g-12 ui-md-2" style="text-align:center">
                  <div class="ui-g-12">
                    <img src="assets/layout/images/avatar.png">
                  </div>
                  <div class="ui-g-12">Name: {{comment.persona.name}}</div>
                  <div *ngIf="comment.rating !== 0">
                    <div class="ui-g-12">Raiting:
                      <p-rating [(ngModel)]="comment.rating" [readonly]="true" [cancel]="false"></p-rating>
                    </div>
                  </div>
                </div>
                <div class="ui-g-12 ui-md-9 car-details">
                  <div class="ui-g">
                    <div class="ui-g-12">Comment:</div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-12">
                      <div [innerHtml]="comment.reviews"></div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </p-dataList>
        </div>
      </div>
    </div>
  </div>
</div>
<p-growl [value]="msgs"></p-growl>
