<div class="ui-g">
  <div class="ui-g-12">
    <div class="card overview">
      <div class="ui-g">
        <div class="ui-g-12">
          <div class="ui-g-4 ui-lg-2 ui-sm-12">
           <div class="img-panel">
             <img src="assets/layout/images/deffBookImg.png" width="100%" alt="">
           </div>
          </div>
          <div class="ui-g-8 ui-lg-10 ui-sm-12">
            <h1>Love and Ruin</h1>
            <h4>by <a href="#">Paula McLain</a></h4>
            <p-rating [(ngModel)]="val" [cancel]="false"></p-rating>
            <p>The bestselling author of The Paris Wife returns to the subject of Ernest Hemingway in a novel about his passionate, stormy marriage to Martha Gellhorn—a fiercely independent, ambitious young woman who would become one of the greatest war correspondents of the twentieth century
              In 1937, twenty-eight-year-old Martha travels alone to Madrid to report on the atrocities of the Spanish Civil War and becomes drawn to the stories of ordinary people caught in devastating conflict. She also finds herself unexpectedly—and uncontrollably—falling in love with Hemingway, a man already on his way to becoming a legend. In the shadow of the impending Second World War, and set against the tumultuous backdrops of Madrid, Finland, China, Key West, and especially Cuba, where Martha and Ernest make their home, their relationship and professional careers ignite. But when Ernest publishes the biggest literary success of his career, For Whom the Bell Tolls, they are no longer equals, and Martha must make a choice: surrender to the confining demands of being a famous man's wife or risk losing Ernest by forging a path as her own woman and writer. It is a dilemma that will force her to break his heart, and her own</p>
          </div>
        </div>
        <div class="ui-g-12">

        </div>
      </div>
    </div>
  </div>
</div>
