<p-table #table
         [columns]="cols"
         [value]="rezervations"
         dataKey="id"
         [totalRecords]="rezervations.length"
         [paginator]="true"
         [rows]="10"
         [responsive]="true"
         paginatorPosition="both" #dt>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 3.5em"></th>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
      <th>Действия с записью</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td>
        <a href="#" [pRowToggler]="rowData">
          <i [ngClass]="expanded ? 'fa fa-fw fa-chevron-circle-down' : 'fa fa-fw fa-chevron-circle-right'"></i>
        </a>
      </td>
      <td *ngFor="let col of columns">
        <ng-container *ngIf="col.field == 'bookInStock'">
          {{rowData[col.field].book.name}}
        </ng-container>
        <ng-container *ngIf="col.field == 'persona'">
          {{rowData[col.field].login}}
        </ng-container>
      </td>
      <td style="text-align: center;">
        <button pButton type="button" icon="ui-icon-keyboard-return" class="teal-btn"
                (click)="issue(rowData['id'])"></button>
        <button pButton type="button" icon="ui-icon-delete" class="red-btn"
                (click)="delete(rowData['id'])"></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-rowData let-columns="cols">
    <tr>
      <td [attr.colspan]="cols.length + 2">
        <div class="ui-g ui-fluid" style="font-size:16px;padding:20px">
          <div class="ui-g-12 ui-md-3" style="text-align:center">
            <img width="100%" [attr.alt]="rowData.brand" src={{getBookSrc(rowData.bookInStock.book.pictureId)}}>
          </div>
          <div class="ui-g-12 ui-md-9">
            <div class="ui-g">
              <div class="ui-g-12">
                <b>Название:</b> {{rowData.bookInStock.book.name}}
              </div>
              <div class="ui-g-12">
                <b>Жанр:</b> {{rowData.bookInStock.book.genre.name}}
              </div>
              <div class="ui-g-12">
                <b>Автор:</b> {{rowData.bookInStock.book.author.surname}} {{rowData.bookInStock.book.author.name}} {{rowData.bookInStock.book.author.patronymic}}
              </div>
              <div class="ui-g-12">
                <b>Краткое описание:</b> <div [innerHtml]="rowData.bookInStock.book.description"></div>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-confirmDialog></p-confirmDialog>
<p-growl [value]="msgs"></p-growl>
