<div class="ui-g">
  <div class="card overview">
    <div class="ui-g-12">
      <p-toolbar>
        <div class="ui-toolbar-group-left">
          <button pButton type="button" label="Добавить" icon="ui-icon-plus" class="green-btn"
                  [routerLink]="['../addIssuedBook']"></button>
          <i class="material-icons" style="vertical-align:middle">dehaze</i>
        </div>

<!--        <div class="ui-toolbar-group-right">
          <button pButton type="button" label="Распечатать" icon="ui-icon-print" class="pink-btn"></button>
        </div>-->
      </p-toolbar>
    </div>
    <div class="ui-g-12">
      <p-table #table [columns]="cols" [value]="issuedBooks" selectionMode="single" dataKey="id" [(selection)]="selectIssuedBook"
               [totalRecords]="totalRecords"
               [paginator]="true" [rows]="10" [responsive]="true" paginatorPosition="both" [lazy]="true"
               (onLazyLoad)="lazyLoad($event)" [loading]="loading">
        <ng-template pTemplate="caption">
          <div class="ui-g">
            <div class="ui-g-11">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-search"></i></span>
                <input type="text" [ngModel]="name" pInputText placeholder="Поиск по названию книги" style="width: 100%;" (input)="table.filterGlobal($event.target.value, 'contains')">
              </div>
            </div>
          </div>
          Выданные книги
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
            <th>
              Действия с записью
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns" [ngSwitch]="col.field">
              <div *ngSwitchCase="'persona'">
                {{rowData[col.field].login}}
              </div>
              <div *ngSwitchCase="'bookInStock'">
                {{rowData[col.field].book.name}}
              </div>
              <div *ngSwitchCase="'timeOfIssue'">
                {{getDate(rowData[col.field])}}
              </div>
              <div *ngSwitchCase="'typeOfIssue'">
                {{rowData[col.field].name}}
              </div>
              <div *ngSwitchCase="'returnTime'">
                {{getDate(rowData[col.field])}}
              </div>
            </td>
            <td style="text-align: center;">
              <button pButton type="button" id="editBookBtn" icon="ui-icon-edit" class="teal-btn"
                      (click)="editEntry(rowData['id'])"></button>
              <button pButton type="button" id="deleteBookBtn" icon="ui-icon-delete" class="red-btn"
                      (click)="delete(rowData['id'])"></button>
              <!--<button pButton type="button" icon="ui-icon-print" class="pink-btn"></button>-->
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<p-confirmDialog></p-confirmDialog>
<p-growl [value]="msgs"></p-growl>
